

<div class="post-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">評価と口コミ</h1>
        <%= form_for @comment do |f| %>
         <div class="form-group">
           <%= f.label :content, "口コミ" %>
           <%= f.text_area :content, class: 'form-control' %>
         </div>


       <%= hidden_field_tag :post_id, @post_id %>
       <%= f.submit '投稿', class: 'btn btn-black btn-block' %>
     <% end %>
    <div id='star-rating'></div>

     </div>
   </div>
 </div>
</div>
