

<div class="post-index-wrapper">
  <div class="container">
    <% @posts.each do |post| %>
    <p>トータル評価</p>
    <div class='star' data-rating=<%= post.comments.average(:rating) %>></div>
    <%= post.comments.average(:rating) %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="post-index-single">
            <h2 class="post-title">
              <%= post.title %>
            </h2>
               <%= image_tag post.image.url %>
                 <p class="post-text">
               <%= post.content %>
                 </p>
                 <%= link_to new_comment_path + '?post_id=' + post.id.to_s do %>
                  口コミを書く
                 <% end %>
                  <%= image_tag 'icons/write-icon-18.jpg', class: 'post-index-icon' %>
                  <%= link_to "口コミを見る", comments_path %>
                 <%= image_tag 'icons/comment.png', class: 'post-index-icon' %>
            </div>
         </div>
      </div>
    <% end %>
  </div>
</div>

<script>
    $('.star').raty({
      path: '/assets/icons',
      readOnly: true,
      score: function() {
            return $(this).attr('data-rating');
    }
  });
</script>
