<!DOCTYPE html>
<html>
  <head>
    <title>Relaxxy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    <nav class="navigation">
      <div class="container">
        <%= link_to "お店を登録する", new_post_path %>
        <%= link_to "トップページへ戻る", root_path %>
        <p>
        <%= link_to "新規登録", users_new_path %>
        <%= link_to "ログイン", sessions_new_path %>
        </p>
       </div>
       </nav>
    <%= yield %>

<script>
  $(function(){
    $(".alert").fadeOut(5000);
  });
</script>
  </body>

</html>
